{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>Créer une tâche</h1>
            </div>
        </header>
        <div id="content">
            {{ form(form) }}
        </div>
    </main>



{% endblock %}


