{% extends 'base.html.twig' %}

{% block body %}

    <div id="main-container">
        <nav>
            <a href="{{ path('app_home') }}" id="logo">
                <img src="img/logo.png" alt="Logo TaskLinker" />
            </a>
            <ul id="main-menu">
                <li class="active">
                    <a href="{{ path('app_home') }}">
                        <i class="fa-solid fa-list-check"></i> Projets
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_team') }}">
                        <i class="fa-regular fa-user"></i> Équipe
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div id="current-user"></div>
                <div id="title-page">
                    <h1>Projets</h1>
                </div>
            </header>
            <div id="content">
                <div id="projects-container">
                    {% for project in allProjects %}

                        <article class="card-project">
                            <a href="#">
                                <h2>{{ project.name }}</h2>
                            </a>
                            <div class="card-project-icons">
                                <a href="#"><i class="fa-solid fa-pen"></i></a>
                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </article>

                    {% endfor %}

                    <article class="card-project">
                        <a href="projet-add.html">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Ajouter un projet</h2>
                        </a>
                    </article>
                </div>
            </div>
        </main>
    </div>

{% endblock %}


